<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a8407c638c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>UIT_LAB</title>
</head>
<body>
    <div id="nav_menu", class="bar">
        <span>UIT</span><span>LAB</span>
        <ul>
            <li>메뉴1</li>
            <li>메뉴2</li>
            <li>메뉴3</li>
            <li>메뉴4</li>
            <li>메뉴5</li>
            <li>메뉴6</li>
            <li>메뉴7</li>
        </ul>
        <div class="login_main">
            <i class="fa-solid fa-circle-user fa-2x"></i>
        </div>
    </div>
    <hr align="center" style="width: 78%; margin-top: 20px; margin-bottom: 0px;">
    <div class="bar">
        <p class="search_main", style="margin-top: 3%;">검색어를 입력하세요.</p>
    </div>
    <hr align="center" style="width: 78%; margin-top: 20px; margin-bottom: 0px;">

    <div>
        <a href="/UIT_LAB_2">next</a>
    </div>
</body>
</html>